
body {
	color: #212121;
	font-family: "Museo Sans Cyrl -300",Arial, sans-serif;
	font-size: 14px;	
	background: url("../img/bg.png")  no-repeat scroll left top; 
	/*background: url("../img/bg_1.png")  no-repeat scroll left top; */
}

.Header{
	height: 507px;
	background-color: #0098db;
	margin: 0 ; 
}

.temp_1 {		
	height: 70px;
}

.Header .logo {
	position: relative;
	width: 153px;
	height: 20px;
	align-items: center;
	margin:0px auto 217px auto;
}
.tabs {
	position: relative;
	color: #ffffff;
    text-align: center;
}
.Header .SVX {
	/* Style for "SVX" */
	opacity: 0.07;
	font-family: "Museo Sans Cyrl -900";
	font-size: 509px;
	font-weight: 400;
	line-height: 40.55px;
	text-transform: uppercase;
	/* Text style for "SVX" */
	letter-spacing: -21.1px;
	position: relative;
	z-index: 1;
		cursor: default;
}

.temp {
	z-index: 2;
	position: relative;

}

.Header .filter_button {
	float: left;

}

.Header .filter_but {

	margin-right: 18px;
	color: #ffffff;
	font-family: "Museo Sans Cyrl -500";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	/* Text style for "Архив" */
	letter-spacing: 0.16px;
}

.Header .filter_but:hover {
	opacity: 0.7;
	border-bottom: 1px dashed #ffffff;
}

.Header .filter_but:active {
	opacity: 0.7;
	border-bottom: 1px dashed #ffffff;
}

.tabs .temp {
	float: left;
	margin-left: 48px;
}

.tabs .title {
	/* Style for "Об аэропор" */
	font-family: "Museo Sans Cyrl -500";
	font-size: 86px;
	font-weight: 400;
	float: left;

}

.flex {
 	 display: flex;
    flex-flow: row wrap; /* флекс элементы заполняют собой строку (row) */
    width: 85%;
    height: 277px;
    margin: auto;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flexbox-wrapper {
	width: 260px;
	height: 277px;
    /*border: 1px solid #333;*/
    display: flex;
    flex-wrap: wrap;
    /*align-content: center; word-wrap: break-word;*/
  
	

}
.flexbox-wrapper  div .text_body {
	width: 240px;
	height: 63px;
}
.flexbox-wrapper  div .text_date {
	width: 240px;
	height: 15px;
}
.flexbox-wrapper  div .text_title {
	width: 240px;
	height: 63px;
}
.flexbox-wrapper  div {
	height: 5%;
	align-self: stretch; align-items: stretch;
  display: flex;
  align-content: space-between;
}
.img_baner .flexbox-wrapper  div {
	width: 240px;
height: 50%;
align-self: stretch; align-items: stretch;
  display: flex;
  align-content: space-between;
}

.layer {
	/*width: 33.3%;*/
	height: 277px;
	order: 1;
   flex: 1 1 25%;
   margin-right: 31px;
   margin-bottom: 31px;
   padding: 30px; 
   word-wrap: break-word;
    align-items: center;

    /*overflow: hidden;*/
   /*align-content:space-between;*/
}	


.layer:hover{
	background-color: #ffffff;

}

.layer .text_date {
	opacity: 0.5;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	padding-left: 1px;  
}

.layer .text_title {
	font-family: "Museo Sans Cyrl -700";
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
	padding-left: 1px; 
}

.layer .text_body {
	font-family: "Museo Sans Cyrl -300";
	font-size: 16px;
	height: 60px;	
	font-weight: 400;
	line-height: 24px;
}

 .text {
   vertical-align: middle;
   align-items: center;
   margin:auto; 
}

.img_baner .text_title {
	/*padding-top: 115px;*/
}

.img_baner {
	color: #FFFFFF;
}

.img_baner:hover{
	-webkit-box-shadow: inset 0px 0px 85px rgba(0,0,0,0.3);
	-moz-box-shadow:    inset 0px 0px 85px rgba(0,0,0,0.3);
	box-shadow:         inset 0px 0px 85px rgba(0,0,0,0.3);
}

#textbox:before{
    content:"";
    display:block;
    height:20px;
    position:relative;
    top:70px;
    background-image: linear-gradient(to left, #f5f5f5 0%, rgba(245, 245, 245, 0) 100%);
}



.layer:hover #textbox:before{
    content:"";
    display:block;
    height:20px;
    position:relative;
    top:70px;
    background-image: linear-gradient(to left, #ffffff 0%, rgba(245, 245, 245, 0) 100%);
 }